 <!-- Page Header -->
 <header class="masthead" style="background-image: url('../assets/img/404.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <div class="error-template">
                <h1>
                    Ohaa!</h1>
                <h2>
                    404 Nicht Gefunden</h2>
                <div class="error-details">
                    Sorry, ein Fehler ist aufgetreten, die Seite wurde nicht gefunden!
                </div>
                <div class="error-actions">
                    <a routerLink="/" class="btn btn-primary btn-lg"><span class="fa fa-home"></span>
                        Start </a><a routerLink="/"   class="btn btn-default btn-lg"><span class="fa fa-envelope"></span> Support Kontaktieren </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>