  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../assets/img/beberlin2.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Willkommen, Berlin liebt Dich!</h1>
            <span class="subheading">Die ganze Welt(Macher) sind herzlich willkommen...</span>
          </div>
        </div>
      </div>
    </div>
  </header>
 <!-- Main Content -->
 <div class="container">
  <div class="row">
    <div class="">
      <div class="container py-5 bg-faded">
        <div class="card-columns">
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin1.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin2.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin3.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin4.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin5.png" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img img-fluid" src="../assets/img/beberlin6a.jpg" alt="Card image">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin7.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin8.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin9.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin10.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin11.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img img-fluid" src="../assets/img/beberlin12.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin13.png" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin14.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img img-fluid" src="../assets/img/beberlin15.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin16.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin17.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin18.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin19.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin20.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img img-fluid" src="../assets/img/beberlin21.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin22.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin23.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin24.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin25.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin26.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin27.jpeg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin28.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin29.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin30.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin31.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin32.gif" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin33.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin34.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin35.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin36.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin37.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin38.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin39.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin40.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin41.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin42.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin43.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin44.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin45.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin46.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin47.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin48.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin49.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin50.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin51.jpg" alt="Be Berlin">
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="../assets/img/beberlin52.png" alt="Be Berlin">
            </div>
        </div>
      </div>
      <blockquote class="blockquote">
        Während Du ruhst, trainiert ein anderer. 
        Wenn Du auf ihn triffst wird er Dich besiegen. Der Wille zu siegen ist
        nichts ohne den Willen sich vorzubereiten. Ich habe meinen Helden gefunden,
        der bin ich.
      </blockquote>
      <a>
        <img class="img-fluid" src="../../assets/img/nilsholgernaegele1.jpg" alt="nils-holger nägele">
      </a>
      <span class="caption text-muted">
     Ich bin zufrieden und glücklich mit meinem Leben. Ich lebe meinen Traum. Danke an alle Menschen die mir auf meinem Lebensweg
     geholfen haben, und denen ich helfen durfte.
      </span>
      <div class="clearfix">
        <a class="btn btn-success float-right" href="https://firebasestorage.googleapis.com/v0/b/ng8-blog-nasa.appspot.com/o/Lebenslauf_Nils-Holger.N%C3%A4gele_2020_A.pdf?alt=media&token=50eda1e8-9d8d-4807-a41e-4caa60ca1736" target="_blank">Lebenslauf</a>
        <a class="btn btn-primary float-left" routerLink="/">Start</a>
      </div>
    </div>
  </div>
</div>