 <!-- Page Header -->
 <header class="masthead" style="background-image: url('../assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>razor</h1>
          <span class="subheading">Notizen eines Software Ingenieurs</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a routerLink="/post/1">
            <h2 class="post-title">
              Typescript, Basis- Teil 1
            </h2>
            <h3 class="post-subtitle">
              Typescript ist ein stark Typisierter Supersatz von Javascript
            </h3>
          </a>
          <p class="post-meta">Veröffentlicht von
            <a href="/">Nils</a>
            am 21 Dezember, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a routerLink="/post/2">
            <h2 class="post-title">
              Typescript, Basis- Teil 2
            </h2>
            <h3 class="post-subtitle">
              Typescript bietet viele interessante Instruktionen
            </h3>
          </a>
          <p class="post-meta">Veröffentlicht von
            <a href="/">Nils</a>
            am 21 Dezember, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a routerLink="/post/3">
            <h2 class="post-title">
              Typescript, Basis - Teil 3
            </h2>
            <h3 class="post-subtitle">
             Der Typescript Kompiler
            </h3>
          </a>
          <p class="post-meta">Veröffentlicht von
            <a href="/">Nils</a>
            am 22 Dezember, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a routerLink="/post/1">
            <h2 class="post-title">
              Typescript, Basis - Teil 4
            </h2>
            <h3 class="post-subtitle">
             Typescript unter der Haube
            </h3>
          </a>
          <p class="post-meta">Veröffentlicht von
            <a href="/">Nils</a>
            am 23 Dezember, 2019</p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="/">Weitere Artikel &rarr;</a>
        </div>
      </div>
    </div>
  </div>
