 <!-- Page Header -->
 <header class="masthead" style="background-image: url('../assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>razor</h1>
          <span class="subheading">Notizen eines Software Ingenieurs</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a routerLink="/post/typescript-basics-1">
            <h2 class="post-title">
              Typescript, Basis- Teil 1
            </h2>
            <h3 class="post-subtitle">
              Basis Typen, Variablen Deklarationen
            </h3>
          </a>
          <p class="post-meta">Veröffentlicht von
            <a href="/">Nils-Holger</a>
            am 21 Dezember, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a routerLink="/post/typescript-basics-2">
            <h2 class="post-title">
              Typescript, Basis- Teil 2
            </h2>
            <h3 class="post-subtitle">
              Schnittstellen, Klassen
            </h3>
          </a>
          <p class="post-meta">Veröffentlicht von
            <a href="/">Nils-Holger</a>
            am 21 Dezember, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a routerLink="/post/javascript-basics-1">
            <h2 class="post-title">
              Javascript, Basis- Teil 1
            </h2>
            <h3 class="post-subtitle">
              ES6, ES7, ES8 ...
            </h3>
          </a>
          <p class="post-meta">Veröffentlicht von
            <a href="/">Nils-Holger</a>
            am 22 Dezember, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a routerLink="/post/typescript-basics-3">
            <h2 class="post-title">
              Typescript, Basis- Teil 3
            </h2>
            <h3 class="post-subtitle">
             Funktionen && Schleifen
            </h3>
          </a>
          <p class="post-meta">Veröffentlicht von
            <a href="/">Nils-Holger</a>
            am 23 Dezember, 2019</p>
        </div>
        <hr>
        <ng-container *ngIf="previewsAreVisible">
        <div class="post-preview">
          <a routerLink="/post/typescript-basics-4">
            <h2 class="post-title">
              Typescript, Basis- Teil 4
            </h2>
            <h3 class="post-subtitle">
             Generics, Enums, Fortgeschrittene Typen
            </h3>
          </a>
          <p class="post-meta">Veröffentlicht von
            <a href="/">Nils-Holger</a>
            am 24 Dezember, 2019</p>
        </div>
        <div class="post-preview">
          <a routerLink="/post/angular-superheroic-javascript-framework">
            <h2 class="post-title">
              Angular 8/9, Superheroisches Javascript Framework
            </h2>
            <h3 class="post-subtitle">
             Angular 8/9, hier die Welt zu retten...
            </h3>
          </a>
          <p class="post-meta">Veröffentlicht von
            <a href="/">Nils-Holger</a>
            am 24 Dezember, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a routerLink="/post/angular-basics-1">
            <h2 class="post-title">
              Angular 8/9, Basis- Teil 1
            </h2>
            <h3 class="post-subtitle">
             Attribute Directives, Pipes, Animations, Template-Driven Forms,
             Reactive Forms, Dynamic Forms, Validation
            </h3>
          </a>
          <p class="post-meta">Veröffentlicht von
            <a href="/">Nils-Holger</a>
            am 25 Dezember, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a routerLink="/post/angular-basics-2">
            <h2 class="post-title">
              Angular 8/9, Basis- Teil 2
            </h2>
            <h3 class="post-subtitle">
             Dependency Injection, Http Client, Routing, Quick Reference,
             Testing, Typescript, API + Template Syntax
            </h3>
          </a>
          <p class="post-meta">Veröffentlicht von
            <a href="/">Nils-Holger</a>
            am 26 Dezember, 2019</p>
        </div>
        <hr>
      </ng-container>
        <!-- Pager -->
        <div class="clearfix color-white">
          <button *ngIf="!previewsAreVisible"  class="btn btn-primary float-right" (click)="toggleMoreLessPreview()">
            Weitere Artikel &rarr;
          </button>
          <button *ngIf="previewsAreVisible" class="btn btn-primary float-right" (click)="toggleMoreLessPreview()">
           &larr; Weniger Artikel
          </button>
        </div>
      </div>
    </div>
  </div>
